@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Rajdhani:wght@300;400;500;600;700&display=swap');
.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.rajdhani-light {
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
}
